/*TEXT VARIABLES*/
@body: "Open Sans:400", sans-serif;
@body_bold: "Open Sans:700", sans-serif;
@heading: "Inter:800", sans-serif;
@basic_font_size: 1rem;
/*COLOR VARIABLES*/
@accent: #00E016;
@gray: #BBBBBB;
@back: #DDDDDD;
@dark: #141414;
@purple: #2E025B;

/*MIXINS*/
.block_heading{
    font-family: @heading;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0px;
}
.body_text{
    font-family: @body;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin: 0px;
}
.subheading{
    font-family: @body;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.subheading_bold{
    font-family: @body_bold;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

/*STYLES*/
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    border: 0px;
    background-color: @back;
    max-width: 100%;
    overflow-x: hidden;
}

header{
    background-color: @dark;
    height: 4.5rem;
    width: 100vw;
    position: fixed;
    margin-top: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 5;
}

.header_links{
    display: flex;
    width: 53.5rem;
    height: 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 3.75rem;
    flex-shrink: 0;
        a {
            color: @gray;
            text-decoration: none;
            font-family: @body;
            font-size: @basic_font_size;
            &:hover{
                color: @accent;
            };
        }
}

.welcome{
    border-radius: 0.1875rem;
    display: flex;
    width: 100vw;
    height: 27rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 72px; 
    .welcome_image{
        display: flex;
        flex-direction: column;
        width: 88vw;
        height: 384px;
        background: url("img/background.png"), lightgray 50% / cover no-repeat;
        background-size: cover;
        justify-content: center;
        align-items: center;
        .welcome_heading{
            font-family: @heading;
            font-size: 4.5rem;
            color: @accent;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 0px;
        }
        .welcome_subheading{
            font-family: @body;
            font-size: 2.25rem;
            color: @gray;
            text-align: center;
            margin-top: 0px;
        }
    }
}

.who-i-am{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 4.75rem;
    background-color: @dark;
    padding: 3rem 4.5rem;
    align-content: center;
    .who-i-am_image{
        border-radius: 3px;
        max-width:100%;
    }
    .who-i-am_container{
        display: flex;
        flex-direction: column;
        gap: .6875rem;
        justify-content: center;
        width: 36.5278vw;
        .who-i-am_heading{
            .block_heading();
            color: @accent;
        }
        .who-i-am_text{
            .body_text();
            color: @gray;
            text-align: justify;
        }
    }
}

.heading_container{
    background-image: url(img/Ellipses.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem;
    margin-bottom: 0px;
    width: 44vw;
    height: 8.3333vw;
}

.heading_text{
    .block_heading();
    color: @purple;
}
.heading_text.white-foreground{
    color: @gray;
}

.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    .projects_nav{
        display: flex;
        width: 28.8889vw;
        height: 3.3333vw;
        justify-content: center;
        align-items: center;
        gap: 65px;
        .body_text();
        margin: 1.6667vw 35.5556vw;
        color: @dark;
        .project_nav_point{
            border-bottom: 0px;
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            box-sizing: border-box; /* Граница включена внутрь размеров элемента */
            padding: 10px; /* Пространство между текстом и границей */
            border: 2px solid transparent; /* Граница начинается сразу, но изначально прозрачная */
        }
        .project_nav_point:hover{
            border-bottom: 3px solid @accent;
            
        }
        .project_nav_point.active{
            background-color: @purple;
            color: white;
        }
    }
    .projects_pictures{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto;
        column-gap: 1.6667vw;
        row-gap: 1.6667vw;
        margin: 1.6667vw 5vw;
        .projects_show img{
            border-radius: 8px;
            max-width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 0;
            filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */    
            -webkit-filter: grayscale(100%);
            -moz-filter: grayscale(100%);
            -ms-filter: grayscale(100%);
            filter: grayscale(100%);
            filter: gray; /* IE 6-9 */
        }
        .projects_show img:hover{
            z-index: 0;
            -webkit-filter: none;
            -moz-filter: none;
            -ms-filter: none;
            filter: none;
        }
    }
    @media screen and (max-width: 800px) {
        .projects_pictures{
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .projects_load{
        display: flex;
        width: 13.6111vw;
        height: 3.3333vw;
        padding: .625rem;
        justify-content: center;
        align-items: center;
        .body_text();
        color: @dark;
        margin: 1.6667vw 43.1944vw 3.3333vw 43.1944vw;
        border: 0px solid @accent;
        background-color: @back;
        //box-shadow: 0px 0px 5px 0px @accent;
        &:hover{
            border-bottom: 3px solid @accent;
            //box-shadow: 0px 0px 20px 0px @accent;
            transition: border-bottom 100ms ease-in-out;
        }
    }
}

.block-bigger-margin{
    margin-top: 4.5rem;
}
.last-block{
    margin-bottom: 3rem;
}

.skills{
    background-color: @dark;
    display: flex;
    flex-direction: column;
    padding: 0px 5vw;
    align-items: center;
    .skills_content{
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        column-gap: 1.5rem;
        margin-top: 3rem; //48px
        justify-content: center;
        .skills_list{
            .body_text();
            color: @gray;
            font-size: 1.5rem;
            align-self: center;
        }
        .skills_video{
            max-width: 51.8056vw;
            border-radius: 8px;
        }
    }
}

.education{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 5vw;
    .education_universities{
        display: grid;
        grid-template-columns: 1fr 0.5fr 1fr;
        grid-template-rows: auto auto;
        margin-top: 3rem;
        & > p{
            align-self: center;
            color: @purple;
        }
        .education_name{
            .subheading_bold();
        }
        .education_date{
            .body_text();
        }
        .education_specialty{
            .subheading();
        }
    }
    .education_picture{
        display: flex;
        padding: 2.2222vw 3.3333vw;
        background-image: url(img/hanze.webp);
        background-size: cover;
        box-sizing: border-box;
        width: 100%;
        align-items: end;
        border-radius: 8px;
        height: 312px;
        .subheading_bold();
        color: #fff;
    }
}

.experience{
    &:extend(.skills);
    background-color: @back;
    gap: 3.3333vw;
    .experience_content{
        display: flex;
        flex-direction: row;
        align-items: center;
        .experience_list{
            .subheading();
            color: @purple;
        }
        .experience_image{
            background-image: url(img/meworking.jpg);
            background-size: cover;
            min-width: 51.8056vw;
            height: 31.6667vw;
            border-radius: 8px;
        }
    }
}

.other{
    display: flex;
    flex-direction: column;
    align-items: center;
    .other_grid{
        display: grid;
        grid-template-columns: 2.26fr 1fr 1fr;
        grid-template-rows: auto auto;
        align-items: center;
        justify-items: center;
        & > h5{
            .subheading_bold();
            color: @purple;
            justify-self: center;
        }
        .other_lang_container{
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            .other_languages{
                display: flex;
                align-items: center;
                gap: 1.5rem;
                & > span{
                    .subheading_bold();
                    color: @purple;
                }
                & > span.other_level{
                    .subheading();
                    color: @purple;
                }
            }
        }
        .other_hobbies{
            display: inline-block;
            text-align: center;
            list-style-type: none;
            padding: 0px;
            & > li{
                .subheading();
                color: @purple;
            }
        }
        .other_international{
            .subheading();
            color: @purple;
            text-align: center;
        }
    }
}

.contacts{
    background-color: @dark;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding-bottom: 12rem;
    .contacts_grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        column-gap: 9.3056vw;
        align-items: center;
        .contacts_form{
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            padding: 1.5rem;
            border: 1px solid @gray;
            border-radius: 8px;
            & > textarea{
                max-width: 100%;
                resize: none;
            }
            & > button[type=submit]{
                border: 1px solid @accent;
                width: 100%;
                padding: 0;
                text-align: center;
                color: @gray;
            }
            .contacts_input{
                width: 480px;
                height: 72px;
                padding: 10px;
                align-items: center;
                gap: 10px;
                flex-shrink: 0;
                border-radius: 5px;
                border: 1px solid @gray;
                background-color: @dark;
                .subheading();
                color: @gray
            }
        }
        .contacts_container{
            display: flex;
            flex-direction: column;
            gap: 1.6667vw;
            .contact{
                display: flex;
                flex-direction: row;
                gap: 1.6667vw;
                align-items: center;
            }
            .contacts_icons{
                display: flex;
                flex-direction: column;
                width: 4.1667vw;
            }
            .contacts_links{
                display: flex;
                flex-direction: column;
            }
            .contacts_link{
                .subheading();
                color: @gray;
                text-decoration-line: none;
            }
        }
    }
}